<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
   
     <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    
    <!-- VNPay Controller Configuration -->
    <servlet>
        <servlet-name>VNPayController</servlet-name>
        <servlet-class>control.VNPayController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VNPayController</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayController</servlet-name>
        <url-pattern>/vnpay-process</url-pattern>
    </servlet-mapping>
    
    <!-- Payment Result Controller Configuration -->
    <servlet>
        <servlet-name>PaymentResultControl</servlet-name>
        <servlet-class>control.PaymentResultControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentResultControl</servlet-name>
        <url-pattern>/payment-success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentResultControl</servlet-name>
        <url-pattern>/payment-failed</url-pattern>
    </servlet-mapping>
    
    <!-- Cart Controller Configuration -->
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>control.CartControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
